{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<div class="container1">
    <Div class=" texts">
       
        <h1>Welcome to Sunkies<br> <span style="color: burlywood;">When You’re Down and Feeling Worse</span></h1>
        <p style=" color: burlywood;">Grab a Bite of our cookie today! <p style="color: red;"> Open Every <span style="color: red;">Mondays</span> to <span style="color: red;">Saturdays</span></p>

        <button id="btn"><a href="{% url 'store' %}" style="color: black;"> View Menu</a></button>

</div>
	

{% endblock content %}
